*{
    box-sizing:border-box;
}
.container{
    margin: 0 auto;
    width:40%;
    max-width:1000px;
    border: 1px solid black;
}
.row{
    width:100%;
}
.row:after{
    content:"";
    display:table;
    clear:both;
}
.column{
    float: left;
    border: 1px solid black;
    /*padding:10px;*/
}
.col-whole{
    width: 100%;
}
.col-one-seventh{
    width: 14.28%;
}
.col-two-seventh{
    width: 28.57%;
}