*{
    box-sizing:border-box;
}
body{
    background-image: url("../img/desk.jpeg");
}
.container{
    margin: 0 auto;
    width:20%;
    max-width:1000px;
    background-color: #575755;
}
.row{
    width:100%;
    padding-bottom: 0;
}
.row:after{
    content:"";
    display:table;
    clear:both;
}
.column{
    float: left;
    padding:2px;
}
.col-one-fifth{
    width:20%;

}
.col-two-fifth{
    width:40%;
}
.col-one-fourth{
    width:25%;
}
.col-two-fourth{
    width: 50%;
}
.white-button {
    width: 100%;
    font-size: 150%;
    border-radius: 10px;
    background-color: lightgray;
}

.orange-button{
    background-color: #fd9026;
    width: 100%;
    font-size: 150%;
    border-radius: 10px;
    color:white;
}
#operand-one{
    width: 100%;
}
#operand-two{
    width: 100%;
}
#operator{
    width: 100%;
}
.output{
    height: 50px;
}
input[type=text]{
    font-size: 150%;
    text-align: right;
    background-color: #f2f2f2;
}