*{
    box-sizing:border-box;
}
.container{
    margin: 0 auto;
    width:20%;
    max-width:1000px;
    border: 1px solid black;
    background-color: #575755;
}
.row{
    width:100%;
}
.row:after{
    content:"";
    display:table;
    clear:both;
}
.column{
    float: left;
    padding:2px;
}
.col-one-fifth{
    width:20%;

}
.col-two-fifth{
    width:40%;
}
.col-one-fourth{
    width:25%;
}
.col-two-fourth{
    width: 50%;
}
.white-button {
    width: 100%;
}

.orange-button{
    background-color: #fd9026;
    width: 100%;
}
#operand-one{
    width: 100%;
}
#operand-two{
    width: 100%;
}
#operator{
    width: 100%;
}